/* Define Variables for Colors
:root {
    --primary-color: #007bff;
    --secondary-color: #f9f9f9;
    --error-color: #f44336;
    --hover-color: #0056b3;
    --border-color: #ddd;
    --light-bg: #f1f1f1;
    --error-bg: #ffebee;
} */

/* General Container Styles */
.container {
  
}

/* Header Styles */
.header {
    color: #333;
    font-weight: bold;
    margin-bottom: 30px;
}

/* Grid Container Styles */
.grid-container {
    margin-bottom: 20px;
}

/* Grid Item Styles */
.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-container {
    padding-bottom: 20px;
}

/* Button Styles */
.button {
    background-color: rgb(54, 196, 82);
    color: white;
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0.2s ease;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: var(--primary-color);
    transform: translateY(-2px); /* Slight hover lift effect */
}

.button:focus {
    outline: none;
}

/* Error Message Styles */
.error-message {
    margin-top: 20px;
    padding: 10px;
    background-color: var(--error-bg);
    border: 1px solid var(--error-color);
    border-radius: 4px;
}

/* Loading Spinner Styles */
.loading-spinner {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    padding: 12px;
    border: 1px solid var(--border-color);
}

table th {
    background-color: var(--primary-color);
    color: white;
}

table tbody tr:nth-child(even) {
    background-color: rgb(65, 197, 91);;
}


table tbody tr:hover {
    background-color: rgb(197, 203, 197);
    transition: background-color 0.3s ease;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .grid-item {
        flex-direction: column;
    }

    table th,
    table td {
        padding: 8px;
    }
}

/* General Improvements */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}
